# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/DjangoCollection.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.venv/*
restApi/.idea/vcs.xml
restApi/soccer/
